.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 3px 3px 1px #eeeeee;
  margin-top: 80px;
}
.container h1 {
  color: #eeeeee;
}

.navbar {
  height: 50px;
  position: fixed;
  background-color: #eeeeee;
  width: 100%;
  top: 0px;
}

.footer {
  height: 70px;
  position: fixed;
  background-color: #eeeeee;
  width: 100%;
  bottom: 0px;
}

th {
  text-align: left;
}

.error {
  color: red;
}

html { 
  background: url("http://api.thumbr.it/whitenoise-361x370.png?background=24ade300&noise=2d27cf&density=18&opacity=52"); 
  background-repeat: repeat;
  background-color: #25b3e6;
}

input {
  border-radius: 7px;
  background-color: #eee;
}

#nav {
  margin-left: 190px;
}

a {
  text-decoration: none;
  color: #2d27cf;
}

a:hover {
  color: black;
}



