<div class="container">
  <h1>Welcome to our Dummy Users App!</h1>
  <h3>Sign In!</h3>

  <% if @failed %>
    <p id='failed'><%= "Authentication Failed" %></p>
  <% end %>
  <form name="input" action="/login" method="post">
    <input type="text" name="email" required placeholder="Email">
    <input type="password" name="password" required placeholder="Password">
    <input type="submit" value="Sign In">
  </form>
  <h3>Create Your Own Account!</h3>
  <form name="input" action="/create_account" method="post">
    <input type="text" name="full_name" required placeholder="Full Name">
    <input type="text" name="email" required placeholder="Email">
    <input type="password" name="password" required placeholder="Password">
    <input type="submit" value="Create Account">
  </form>
</div>
